.hero{
    clear: both;
    color: #fff;
    display: inline-block;
    position: relative;
    margin: 0;
    animation: text-reveal 1000ms forwards;
    
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 100%;
      bottom: 0;
      left: 0;
      background: #D7F4D2;
      animation: text-reveal-aft 4000ms forwards;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }
  @keyframes text-reveal {
    50% {
      color: #fff;
    }
    51% {
      color: #444;
    }
    100% {
      color: #444;
    }
  }
  @keyframes text-reveal-aft {
    0% {
      right:100%;
      left: 0%;
    }
    50% {
      right: 0;
      left: 0;
    }
    100% {
      right: 0;
      left: 100%;
    }
  
  }