.heroslide {
    position: absolute;
    top: 0;
    width: 100%;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    /* THIS creates the animation! */
    transition: transform 1s;
}
  
.heroslide > img {
    /* Only for images that have different size than slide */
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
}